.Wdate{
	border:#999 1px solid;
	/*height:20px;*/
	width: 200px;
	background:#fff url(datePicker.gif) no-repeat right;
}

.Wdate-group {
	width: 400px;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}